@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #f1f0f6;
    --dark-grey: #8d8d8d;
    --light: #fff;
    --dark: #000;
    --green: #81d43a;
    --light-green: #e3ffcb;
    --blue: #1775f1;
    --light-blue: #d0e4ff;
    --dark-blue: #0c5fcd;
    --red: #fc3b56;
}

body {
    background: var(--grey);
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* SIDEBAR */

#sidebar {
    position: fixed;
    width: 260px;
    background: var(--light);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}
#sidebar::-webkit-scrollbar {
    display: none;
}
#sidebar .brand {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: var(--blue);
}
#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sidebar .icon-right {
    margin-left: auto;
    transition: all 0.3s ease;
}
#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
}
#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--dark);
    padding: 12px 16px 12px 0;
    transition: all 0.3s ease;
    border-radius: 10px;
    margin: 4px 0;
}
#sidebar .side-menu > li > a:hover {
    background: var(--grey);
}
#sidebar .side-menu > li > a.active .icon-right {
    transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background: var(--blue);
    color: var(--light);
}
#sidebar .divider {
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-grey);
}
#sidebar .side-dropdown {
    padding-left: 48px;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.15s ease;
}
#sidebar .side-dropdown.show {
    max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
    color: var(--blue);
}

/* SIDEBAR */

#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
}

nav {
    background: var(--light);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 20px;
}
nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}
nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}
nav .form-group {
    position: relative;
}
nav .form-group input {
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all 0.15s ease;
}
nav .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--dark-grey);
}
nav .nav-link {
    position: relative;
}
nav .nav-link .icon {
    font-size: 18px;
    color: var(--dark);
}
nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: 10px;
    font-weight: 700;
}

nav .divider {
    width: 1px;
    background: var(--grey);
    height: 12px;
    display: block;
}
nav .profile {
    position: relative;
}
nav .profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
nav .profile .profile-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--light);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
nav .profile .profile-link.show {
    opacity: 1;
    pointer-events: visible;
    top: 100%;
}

nav .profile .profile-link a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 10px;
    font-size: 14px;
    color: var(--dark);
    align-items: center;
    transition: all 0.3s ease;
}
nav .profile .profile-link a:hover {
    background: var(--grey);
}

/* MAIN */
main {
    width: 100%;
    padding: 24px 20px 20px 20px;
}
main .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
    font-size: 14px;
}
main .breadcrumbs li a {
    color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
    color: var(--dark-grey);
    pointer-events: none;
}
main .info-data {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}
main .info-data .card {
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
}
main .card .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
main .card .head h2 {
    font-size: 24px;
    font-weight: 600;
}
main .card .head p {
    font-size: 14px;
}
main .card .head .icon {
    font-size: 20px;
    color: var(--green);
}
main .card .head .icon.down {
    color: var(--red);
}
main .card .progress {
    display: block;
    margin-top: 24px;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background: var(--grey);
    overflow-y: hidden;
    position: relative;
    margin-bottom: 4px;
}

main .card .progress:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--blue);
    width: var(--value);
}
main .card .label {
    font-size: 14px;
    font-weight: 700;
}
/* MAIN */

@media screen and (max-width: 950px) {
    .nav-img {
      height: 25px;
    }
    .nav-option {
      gap: 30px;
    }
    .nav-option h3 {
      font-size: 15px;
    }
    .report-topic-heading,
    .item1,
    .items {
      width: 800px;
    }
  }
   
  @media screen and (max-width: 850px) {
    .nav-img {
      height: 30px;
    }
    .nav-option {
      gap: 30px;
    }
    .nav-option h3 {
      font-size: 20px;
    }
    .report-topic-heading,
    .item1,
    .items {
      width: 700px;
    }
    .navcontainer {
      width: 100vw;
      position: absolute;
      transition: all 0.6s ease-in-out;
      top: 0;
      left: -100vw;
    }
    .nav {
      width: 100%;
      position: absolute;
    }
    .navclose {
      left: 00px;
    }
    .searchbar {
      display: none;
    }
    .main {
      padding: 40px 30px 30px 30px;
    }
    .searchbar2 {
      width: 100%;
      display: flex;
      margin: 0 0 40px 0;
      justify-content: center;
    }
    .searchbar2 input {
      width: 250px;
      height: 42px;
      border-radius: 50px 0 0 50px;
      background-color: var(--background-color3);
      padding: 0 20px;
      font-size: 15px;
      border: 2px solid var(--secondary-color);
    }
  }
   
  @media screen and (max-width: 490px) {
    .message {
      display: none;
    }
    .logosec {
      width: 100%;
      justify-content: space-between;
    }
    .logo {
      font-size: 20px;
    }
    .menuicn {
      height: 25px;
    }
    .nav-img {
      height: 25px;
    }
    .nav-option {
      gap: 25px;
    }
    .nav-option h3 {
      font-size: 12px;
    }
    .nav-upper-options {
      gap: 15px;
    }
    .recent-Articles {
      font-size: 20px;
    }
    .report-topic-heading,
    .item1,
    .items {
      width: 550px;
    }
  }
   
  @media screen and (max-width: 400px) {
    .recent-Articles {
      font-size: 17px;
    }
    .view {
      width: 60px;
      font-size: 10px;
      height: 27px;
    }
    .report-header {
      height: 60px;
      padding: 10px 10px 5px 10px;
    }
    .searchbtn img {
      height: 20px;
    }
  }
   
  @media screen and (max-width: 320px) {
    .recent-Articles {
      font-size: 12px;
    }
    .view {
      width: 50px;
      font-size: 8px;
      height: 27px;
    }
    .report-header {
      height: 60px;
      padding: 10px 5px 5px 5px;
    }
    .t-op {
      font-size: 12px;
    }
    .t-op-nextlvl {
      font-size: 10px;
    }
    .report-topic-heading,
    .item1,
    .items {
      width: 300px;
    }
    .report-body {
      padding: 10px;
    }
    .label-tag {
      width: 70px;
    }
    .searchbtn {
      width: 40px;
    }
    .searchbar2 input {
      width: 180px;
    }
  }