@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --orange: #ffa500;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}


*::selection {
  background: var(--orange);
  color: #ffa500;
}

.userlogin-Class{
    margin-right: 22px;
    color: white;
    font-size: 13px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: rgba(255, 165, 0, 0.2);
  color: var(--orange);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--orange);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: rgba(255, 165, 0, 0.2);
  color: var(--orange);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #333;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

header .logo span {
  color: var(--orange);
}

header .navbar a {
  color: #fff;
  font-size: 2.5rem;
  margin: 0 0.8rem;
}

header .navbar a:hover {
  color: var(--orange);
}

/* header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: var(--orange);
} */

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
}
.icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

.icons i:hover {
  color: var(--orange);
}

.dropdown {
  position: relative;

  /* display: inline-block; */
}

.dropdown-menu {
  position: absolute;
  top: 40px; /* Adjust this value to position the menu below the icon */
  right: 0;
  z-index: 1;
  display: none;
  width: 200px;
  padding: 10px 0;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition-delay: 0.2s;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.dropdown-menu.show {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dialog-box {
  /* opacity: 0.5; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  padding: 20px;
  display: none;
  width: 400px;
  height: auto;
  justify-content: space-between;

}

.dialog-box p {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.dialog-box button {
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;

}

.btn-confirm {
  background-color: #ffa500;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.btn-cancel {
  background-color: #5e4341;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

/* .dialog-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog-box p {
  font-size: 20px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn-confirm {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
} */

header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background: #333;
  border-top: 1rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
  width: 100%;
  padding: 1rem;
  text-transform: none;
  color: #333;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}

header .search-bar-container label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover {
  color: var(--orange);
}

.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active {
  top: 0;
}

.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: var(--orange);
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
}

.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.login-form-container form p a {
  color: var(--orange);
}
.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content {
  text-align: center;
}
.home .content h3 {
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem 0;
}

.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home .controls {
  padding: 0.5rem;
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}

.home .controls .vid-btn {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0 0.25rem;
}

.home .controls .vid-btn.active {
  background: var(--orange);
}

/* booking section styling */

/* .book .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
} */

.book .row .image {
  flex: 1 1 40rem;
}

.book .row .image img {
  width: 100%;
}

.book .row form {
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.book .row form .inputBox {
  padding: 0.5rem 0;
}

.book .row form .inputBox input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.book .row form .inputBox h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: #666;
}
*/ .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.image {
  flex: 1;
  margin-right: 20px;
}

.description {
  flex: 1;
  max-width: 50%;
}

.description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.description p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* packages section styling */

.packages .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.packages .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.packages .box-container .box img {
  height: 70rem;
  width: 100%;
  object-fit: cover;
}

.packages .box-container .box .content {
  padding: 2rem;
}

.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.packages .box-container .box .content h3 i {
  color: var(--orange);
}

.packages .box-container .box .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.packages .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--orange);
}
.packages .box-container .box .content .price {
  font-size: 2rem;
  color: #333;
  padding-top: 1rem;
}

.packages .box-container .box .content .price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}
/* @media queries */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading span {
    font-size: 2.5rem;
  }
}

.description {
  margin-bottom: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


/* review section css */
/*  ------------------------------------------ */
/* .review .review-slider {
    padding-bottom: 2rem;
  }
  .review .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

  .review .box img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .review .box h3 {
    color: #333;
    font-size: 2.5rem;
  }

  .review .box p {
    color: #666;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .review .box .stars i {
    color: var(--orange);
    font-size: 1.7rem;
  } */


  /* review section css */
.review .review-slider {
    padding-bottom: 2rem;
  }
  .review .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

  .review .box img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .review .box h3 {
    color: #333;
    font-size: 2.5rem;
  }

  .review .box p {
    color: #666;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .review .box .stars i {
    color: var(--orange);
    font-size: 1.7rem;
  }

  /* //contact section css */

  .contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
  }

  .contact .row .image {
    flex: 1 1 35rem;
  }

  .contact .row .image img {
    width: 100%;
  }

  .contact .row form {
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

  .contact .row form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact .row form .inputBox input,
  .contact .row form textarea {
    width: 40%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
  }

  .contact .row form textarea {
    height: 15rem;
    resize: none;
    width: 100%;
  }

  .footer {
    background: #333;
  }

  .footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .footer .box-container .box {
    padding: 1rem 0;
    flex: 1 1 25rem;
  }

  .footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 0.7rem 0;
    color: #fff;
  }

  .footer .box-container .box p {
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
  }

  .footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
  }

  .footer .box-container .box a:hover {
    color: var(--orange);
    text-decoration: underline;
  }

  .footer .credit {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  }

  /* @media queries */

  @media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }

  @media (max-width: 991px) {
    header {
      padding: 2rem;
    }

    section {
      padding: 2rem;
    }
  }



  /* review */
  /* review section css */
.review .review-slider {
    padding-bottom: 2rem;
  }
  .review .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

  .review .box img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .review .box h3 {
    color: #333;
    font-size: 2.5rem;
  }

  .review .box p {
    color: #666;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .review .box .stars i {
    color: var(--orange);
    font-size: 1.7rem;
  }

  /* //contact section css */

  .contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
  }

  .contact .row .image {
    flex: 1 1 35rem;
  }

  .contact .row .image img {
    width: 100%;
  }

  .contact .row form {
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

  .contact .row form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contact .row form .inputBox input,
  .contact .row form textarea {
    width: 40%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
  }

  .contact .row form textarea {
    height: 15rem;
    resize: none;
    width: 100%;
  }

  .footer {
    background: #333;
  }

  .footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .footer .box-container .box {
    padding: 1rem 0;
    flex: 1 1 25rem;
    margin-left: 38px;
  }

  .coo-coo{
    color: #ffa500;
  }

  .footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 0.7rem 0;
    color: #fff;
  }

  .footer .box-container .box p {
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
    text-align: justify;
  }

  .footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
  }

  .footer .box-container .box a:hover {
    color: var(--orange);
    text-decoration: underline;
  }

  .footer .credit {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
  }

  /* @media queries */

  @media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }

  @media (max-width: 991px) {
    header {
      padding: 2rem;
    }

    section {
      padding: 2rem;
    }
  }
